

<div mat-dialog-title>
  <h2>Создать Товар</h2>
</div>

<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="two-column-grid">
      <mat-form-field appearance="outline">
        <mat-label>Наименование</mat-label>
        <input formControlName="name" matInput placeholder="Наименование"/>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Артикул</mat-label>
          <input formControlName="vendorCode" matInput placeholder="Артикул"/>
          <mat-icon matSuffix>mail_outline</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Сылка на фото</mat-label>
          <input formControlName="imageSrc" matInput placeholder="Сылка на фото"/>
          <mat-icon matSuffix>mail_outline</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Сылка на чертеж</mat-label>
          <input formControlName="drawingImageSrc" matInput placeholder="Сылка на чертеж"/>
          <mat-icon matSuffix>mail_outline</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Себестоимость</mat-label>
          <input formControlName="price" matInput placeholder="Себестоимость"/>
          <mat-icon matSuffix>mail_outline</mat-icon>
        </mat-form-field>
      </div>


<!--      <div class="col-md-6">-->
<!--        <mat-form-field appearance="outline">-->
<!--          <mat-label>Валюта</mat-label>-->
<!--          <input formControlName="currency" matInput placeholder="Валюта"/>-->
<!--          <mat-icon matSuffix>mail_outline</mat-icon>-->
<!--        </mat-form-field>-->
<!--      </div>-->

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Валюта</mat-label>
          <mat-select id="currency" formControlName="currency">
            @if(currencyNameList() && currencyNameList().length > 0){
              <div>
                @for (currency of currencyNameList(); track $index){
                  <mat-option
                    [value]="$index"
                  >
                    {{ currency }}
                  </mat-option>
                }
              </div>
            }
            <mat-option></mat-option>
            <button
              class="btn"
              mat-button
              (click)="openDialogOneForm(
            'Валюта',
            'currency',
            'Валюта'
            )"
            >
              ➕ Создать
            </button>
          </mat-select>
          <mat-icon matSuffix>store</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Описание</mat-label>
          <input formControlName="description" matInput placeholder="Описание"/>
          <mat-icon matSuffix>mail_outline</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Ед.Изм.</mat-label>
          <mat-select id="unit" formControlName="unit">
            @if(unitNameList() && unitNameList().length > 0){
            <div>
              @for (unit of unitNameList(); track $index){
            <mat-option
              [value]="$index"
            >
              {{ unit }}
            </mat-option>
            }
            </div>
            }
            <mat-option></mat-option>
            <button
              class="btn"
              mat-button
              (click)="openDialogOneForm(
            'Ед.Изм.',
            'unit',
            'Ед.Изм.'
            )"
            >
              ➕ Создать
            </button>
          </mat-select>
          <mat-icon matSuffix>store</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Каталог</mat-label>
          <input formControlName="catalog" matInput placeholder="Каталог"/>
          <mat-icon matSuffix>mail_outline</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Каталог</mat-label>
          <mat-select id="catalog" formControlName="catalog">
            @if(catalogNameList() && catalogNameList().length > 0){
            <div>
              @for (catalog of catalogNameList(); track $index){
            <mat-option
              [value]="$index"
            >
              {{ catalog }}
            </mat-option>
            }
            </div>
            }
            <mat-option></mat-option>
            <button
              class="btn"
              mat-button
              (click)="openDialogOneForm(
            'Каталог',
            'catalog',
            'Каталог'
            )"
            >
              ➕ Создать
            </button>
          </mat-select>
          <mat-icon matSuffix>store</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Категория</mat-label>
          <input formControlName="categories" matInput placeholder="Категория"/>
          <mat-icon matSuffix>mail_outline</mat-icon>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Подкатегория</mat-label>
          <input formControlName="Subcategories" matInput placeholder="Подкатегория"/>
          <mat-icon matSuffix>mail_outline</mat-icon>
        </mat-form-field>
      </div>

      <!-- Add other form fields here -->
    </div>
    <!-- Add other actions or buttons here -->
    <div  class=" action-buttons">
      <div  class=" button-container">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{ data ? 'Обновить' : 'Сохранить' }}</button>
      </div>
    </div>
  </div>
</form>




