
<div class="content-center mar-top-10">
  <h2>Войти в аккаунт</h2>
</div>
<div *ngIf="message"  class="content-center mar-top-10">
  <h4>{{message}}</h4>
</div>


<!-- Добавление сообщения об ошибке Email-->
<mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="content-center">
  <!-- Здесь можно вывести различные сообщения об ошибках, в зависимости от состояния контрола -->
  <span *ngIf="loginForm.get('email')?.errors?.['required']">Email не должен быть пустым</span>
  <span *ngIf="loginForm.get('email')?.errors?.['email']">Введите корректный email адрес</span>
</mat-error>

<!-- Добавление сообщения об ошибке пароля-->
<mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="content-center">
  <!-- Здесь можно вывести различные сообщения об ошибках, в зависимости от состояния контрола -->
  <span *ngIf="loginForm.get('password')?.errors?.['required']">Пароль не должен быть пустым
  </span>
  <span
    *ngIf="loginForm.get('password')?.errors?.['minlength'] && loginForm.get('password')?.errors?.['minlength']['requiredLength']">
      Пароль должен быть больше {{loginForm.get('password')?.errors?.['minlength']['requiredLength']}} символов.
      Сейчас {{loginForm.get('password')?.errors?.['minlength']['actualLength']}}
  </span>
</mat-error>

<div class="content-center mar-top-10">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" formControlName="email" matInput placeholder="email"
               [ngClass]="{'invalid': loginForm.get('email')?.invalid && loginForm.get('email')?.touched}">
        <mat-icon matSuffix>mail_outline</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Пароль</mat-label>
        <input type="password" formControlName="password" matInput placeholder="пароль"
               [ngClass]="{'invalid': loginForm.get('password')?.invalid && loginForm.get('password')?.touched}">
        <mat-icon matSuffix>security</mat-icon>
      </mat-form-field>
    </div>

    <button
      type="submit"
      mat-raised-button color="primary"
      [disabled]="loginForm.invalid || loginForm.disabled"
    >
      Войти
    </button>
    <br/>
  </form>
</div>

<div class="content-center mar-top-10">
@if(!userGoogle()){
  <asl-google-signin-button type='standard' size='medium'></asl-google-signin-button>
}
  <!--  <div *ngIf="userGoogle()">-->
  <!--    <img src="{{userGoogle().photoUrl}}">-->
  <!--    <div>-->
  <!--      <h4>{{userGoogle().name}}</h4>-->
  <!--      <p>{{userGoogle().email}}</p>-->
  <!--    </div>-->
  <!--  </div>-->
</div>

