<div class="row">
    <div [ngClass]="isSidePanelVisible ? 'col-8' : 'col-12'" >
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6">
                        Product List
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-success" (click)="openSidePanel()">Добавить</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
              <app-sheet-materials></app-sheet-materials>
            </div>
        </div>
    </div>

    @if (isSidePanelVisible){
        <div class="col-4">
            <div class="card">
                <div class="card-header bg-primary">
                    <div class="row">
                        <div class="col-6">
                            New Product
                        </div>
                        <div class="col-6  text-end">
                            <button class="btn btn-sm btn-danger" (click)="closeSidePanel()">Закрыть</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    }

</div>

<app-success-btn (emitSuccessBtnData)="getSuccessBtnData($event)" [btnData]="{btnName: 'Нажми', btnBoolean: false}"></app-success-btn>

@if (btnBoolean) {
  <h1>Tigran кликнул</h1>
}
