<div class="row">
    <div [ngClass]="isSidePanelVisible() ? 'col-8' : 'col-12'" >
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6">
                        Product List
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-success" (click)="openSidePanel()">Добавить</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
              <div class="row">
                @for (product of productList; track product.id){
                  <div class="card">
                    <img [src]="product.productImageUrl" class="card-img-top" alt="..." style="width: 200px;">
                    <div class="card-body">
                      <h5 class="card-title">{{product.productName}}</h5>
                      <p class="card-text">{{product.categoryName}}</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
                } @empty {
                  Empty list of product
                }
              </div>
            </div>
        </div>
    </div>

    @if (isSidePanelVisible()){
        <app-add-sheet-materials></app-add-sheet-materials>
    }
</div>

<button (click)="openAddClientForm()">➕ Создать</button>

@if(showDialog()){
  <app-modal-dialog-selected-category
    [headerText]="'Header'"
    [contentText]="'Content'"
  ></app-modal-dialog-selected-category>
}

