<div class="col-md-6">
  <mat-form-field appearance="outline">
    <mat-label>Вид работ</mat-label>
    <mat-select id="_typesJobsId" formControlName="_typesJobsId">
      @if(typesJobsNameList() && typesJobsNameList().length > 0){
      <div>
        @for (typesJob of typesJobsNameList(); track typesJob._id){
      <mat-option
        [value]="typesJob._id"
      >
        {{ typesJob.typesJobsName }}
      </mat-option>
      }
      </div>
      }
      <mat-option></mat-option>
      <button
        class="btn"
        mat-button
        (click)="openDialogOneForm(
            'typesJobsName',
            'Вид работ',
            'types_jobs')"
      >
        ➕ Создать
      </button>
    </mat-select>
    <mat-icon matSuffix>store</mat-icon>
  </mat-form-field>
</div>
