.cards-container {
  display: none;
}

table {
  width: 100%;
}

.filter {
  margin: 10px;
}

.container {
  margin: 0 2%;
  text-align: center;
  max-width: 100%;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
  width: 100%;
}

.text-center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.detail-icon {
  color: #3058d5;
}

.mat-form-field {
  min-width: 240px;
  margin: 5px;
}

.mat-raised-button {
  margin: 5px;
}

@media (max-width: 767px) {
  .cards-container {
    display: block;
  }

  .table-container {
    display: none;
  }

  .mat-form-field {
    min-width: calc(100% - 10px);
  }
}
