<div class="content-center mar-top-10">
  <h2>Создать аккаунт</h2>

</div>
@if(message){
  <div class="content-center mar-top-10">
    <h4>{{message}}</h4>
  </div>
}



<!-- Добавление сообщения об ошибке Email-->
@if(registerForm.get('email')?.invalid && registerForm.get('email')?.touched){
  <mat-error class="content-center">
    <!-- Здесь можно вывести различные сообщения об ошибках, в зависимости от состояния контрола -->
    <span *ngIf="registerForm.get('email')?.errors?.['required']">Email не должен быть пустым</span>
    <span *ngIf="registerForm.get('email')?.errors?.['email']">Введите корректный email адрес</span>
  </mat-error>
}

<!-- Добавление сообщения об ошибке пароля-->
@if(registerForm.get('password')?.invalid && registerForm.get('password')?.touched){
  <mat-error class="content-center">
    <!-- Здесь можно вывести различные сообщения об ошибках, в зависимости от состояния контрола -->
    <span *ngIf="registerForm.get('password')?.errors?.['required']">Пароль не должен быть пустым
  </span>
    <span
      *ngIf="registerForm.get('password')?.errors?.['minlength'] && registerForm.get('password')?.errors?.['minlength']['requiredLength']">
      Пароль должен быть больше {{registerForm.get('password')?.errors?.['minlength']['requiredLength']}} символов.
      Сейчас {{registerForm.get('password')?.errors?.['minlength']['actualLength']}}
  </span>
  </mat-error>
}



<!-- Добавление сообщения об ошибке повтарения пароля-->
@if(passwordCheck){
  <mat-error class="content-center">
    <span>Пароли не совподают</span>
  </mat-error>
}


<div class="content-center mar-top-10">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" formControlName="email" matInput placeholder="email"
               [ngClass]="{'invalid': registerForm.get('email')?.invalid && registerForm.get('email')?.touched}">
        <mat-icon matSuffix>mail_outline</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Пароль</mat-label>
        <input type="password" formControlName="password" matInput placeholder="пароль"
               [ngClass]="{'invalid': registerForm.get('password')?.invalid && registerForm.get('password')?.touched}">
        <mat-icon matSuffix>security</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field appearance="outline">
        <mat-label>Повторите пароль</mat-label>
        <input type="password" formControlName="secondPassword" matInput placeholder="Повторение пароля"
               [ngClass]="{'invalid': registerForm.get('password')?.invalid && registerForm.get('password')?.touched}">
        <mat-icon matSuffix>security</mat-icon>
      </mat-form-field>
    </div>

    <button
      type="submit"
      mat-raised-button color="primary"
      [disabled]="registerForm.invalid || registerForm.disabled"
    >
      Создать
    </button>
    <br/>
  </form>
</div>

<div class="content-center mar-top-10">
  @if(!userGoogle()){
    <asl-google-signin-button></asl-google-signin-button>
  }
  <!--  <div *ngIf="userGoogle()">-->
  <!--    <img src="{{userGoogle().photoUrl}}">-->
  <!--    <div>-->
  <!--      <h4>{{userGoogle().name}}</h4>-->
  <!--      <p>{{userGoogle().email}}</p>-->
  <!--    </div>-->
  <!--  </div>-->
</div>


